<!--<% param_prefix = "payment_source[#{payment_method.id}]" %>

<p class="field">
  <%= label_tag "voucher_number", Spree.t(:voucher_number) %><span class="required">*</span><br />
  <%= text_field_tag "#{param_prefix}[number]", nil, {:id => 'voucher_number', :class => 'required', :size => 19, :maxlength => 19} %>
</p>
-->
